*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 5px;
  max-width: 375px;
  margin: 0 auto;
  &.p14 {
    padding: 0 14px;
  }
}

#app {
  background: $bg-primary;
  min-height: 100%;
  color: #fff;
}

.hr {
  border-color: $border-color;
  opacity: .2;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.line-height-1 {
  line-height: 1;
}

.w-34 {
  width: 34px;
}

.w-26 {
  width: 26px;
}

.w-24 {
  width: 24px;
}

.w-20 {
  width: 20px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.list-style-none {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.text-primary {
  color: $primary;
}

.text-blue {
  color: $blue;
}

.base-badge {
  display: inline-flex;
  align-items: center;
  background: $primary;
  padding: 0 6px;
  height: 18px;
  font-size: 12px;
  font-weight: 800;
  border-radius: 9px;
  color: $bg-secondary;
}

.text-guide {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: -.3px;
  color: $gray02;
  margin-top: 12px;
}

/* nodata scss */
.no-data {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .no-data__wrap {
    text-align: center;
  }
  .empty__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-empty {
    width: 88px;
    height: 88px;
    display: block;
    background: url("~@/assets/icons/icon-empty.png") no-repeat center;
    background-size: cover;
  }
  .empty__text-wrap {
    padding-top: 10px;
  }
  .empty-text {
    font-size: 18px;
    color: #9ea2ab;
  }
}

