h1, .h1 {
  font-size: 26px;
  font-weight: 700;
}

h2, .h2 {
  font-size: 24px;
  font-weight: 500;
}

h3, .h3 {
  font-size: 22px;
  font-weight: 500;
}

h4, .h4 {
  font-size: 20px;
  font-weight: 500;
}

h5, .h5 {
  font-size: 18px;
  font-weight: 500;
}

h6, .h6 {
  font-size: 17px;
  font-weight: 500;
}

.text-40 {
  font-size: 40px;
  letter-spacing: -.87px;
}

.text-16 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -.3px;
}

.text-14 {
  font-size: 14px;
  font-weight: 500;
}

.text-13 {
  font-size: 13px;
  font-weight: 500;
}

.text-12 {
  font-size: 12px;
  font-weight: 500;
}

.text-20 {
  font-size: 20px;
}
